eval "$(devenv direnvrc)"
use devenv --option languages.lua.enable:bool true --option languages.lua.package:pkg "luajit" --option packages:pkgs "luajitPackages.busted luajitPackages.luacov libxml2"
export LD_LIBRARY_PATH=$NIX_LD_LIBRARY_PATH